In [45]:
import pandas as pd
from collections import Counter

In [227]:
df = pd.read_csv('../data/batting.csv', sep=':', index_col=False)

In [228]:
df.head()

,GID,MLB_ID,Name_Last_First,Name_First_Last,P/H,Hand,Date,Team,Oppt,H/A,...,DD_points,YH_points,FD_salary,DK_salary,DD_salary,YH_salary,FD_pos,DK_pos,DD_pos,YH_pos
0,2407,547989,"Abreu, Jose",Jose Abreu,H,R,20180424,chw,sea,h,...,NaN,NaN,3600.0,NaN,NaN,18.0,3.0,NaN,NaN,3.0
1,2407,547989,"Abreu, Jose",Jose Abreu,H,R,20180423,chw,sea,h,...,79.0,31.8,3600.0,4000.0,NaN,18.0,3.0,3.0,NaN,3.0
2,2407,547989,"Abreu, Jose",Jose Abreu,H,R,20180422,chw,hou,h,...,2.0,2.1,3500.0,3900.0,NaN,18.0,3.0,3.0,NaN,3.0
3,2407,547989,"Abreu, Jose",Jose Abreu,H,R,20180421,chw,hou,h,...,8.0,4.2,3500.0,4100.0,NaN,19.0,3.0,3.0,NaN,3.0
4,2407,547989,"Abreu, Jose",Jose Abreu,H,R,20180420,chw,hou,h,...,2.0,2.1,3500.0,4000.0,NaN,16.0,3.0,3.0,NaN,3.0

In [229]:
df.shape

(7224, 47)

In [230]:
df.columns

Index(['GID', 'MLB_ID', 'Name_Last_First', 'Name_First_Last', 'P/H', 'Hand',
       'Date', 'Team', 'Oppt', 'H/A', 'Game#', 'Game_ID', 'Gametime_ET',
       'Team_score', 'Oppt_score', 'Home_Ump', 'Temp', 'Condition', 'W_speed',
       'W_dir', 'ADI', 'prior_ADI', 'GS', 'GP', 'Pos', 'Order',
       'Oppt_pitch_hand', 'Oppt_pich_GID', 'Oppt_pitch_MLB_ID',
       'Oppt_pitch_Name', 'PA', 'wOBA_num', 'IP', 'W/L/S', 'QS', 'FD_points',
       'DK_points', 'DD_points', 'YH_points', 'FD_salary', 'DK_salary',
       'DD_salary', 'YH_salary', 'FD_pos', 'DK_pos', 'DD_pos', 'YH_pos'],
      dtype='object')

http://rotoguru1.com/cgi-bin/mlb-dbd-2018.pl

- P/H: Designates 'Pitcher' or 'Hitter
- Hand: Designates 'Left', 'Right' or 'Both'
- H/A: Designates 'Home' or 'Away'
- Game#: Designates '1' or '2' if doubleheader
- Gametime_ET: Designates start of game EST
- ADI: Air Density Index (based on weather and elevation).Higher ADI means more ball movement is possible (Denver usually has lowest ADI), is displayed on a 100 scale and a comparative index is used to determine the individual players' familiarity with how much movement he will face
- GS: 'Game Started', '1' designates starter, 'asp' reserved for some pitchers
- GP: 'Game Played', '1' for he played
- PA: Plate Appearances
- PA: unknown (ranges from 0.0 to 8.0)
- wOBA_num: "using Fangraphics base coefficients"
- QS: unknown

## FanDuel Scoring:
- Singles: 3pts
- Doubles: 6pts
- Triples: 9pts
- Walks: 3pts
- HBP: 3pts
- Homeruns: 12pts
- Runs: 3.2pts
- RBI: 3.5pts
- Stolen Base: 6pts

- ER: -3pts
- IP: 3pts
- Qstart: 4pts
- SO: 3pts
- Wins: 6pts

In [231]:
df[df['Condition'].isnull()]['Date'].unique()

array([20180424])

In [232]:
df = df[df['Date'] != 20180424]

In [233]:
df.drop(['DK_points', 'DD_points', 'YH_points', 'DK_salary', 'DD_salary', 'YH_salary',
             'DK_pos', 'DD_pos', 'YH_pos'], axis=1, inplace=True)

In [234]:
df['Date'] = pd.to_datetime(df['Date'], format='%Y%m%d')

In [235]:
df.sort_values(['MLB_ID', 'Date'], inplace=True)

In [236]:
df.reset_index(drop=True, inplace=True)

## Separate hitters and pitchers df

In [237]:
pitchers = df[df['P/H']=='P']
hitters = df[df['P/H']=='H']

In [238]:
print(pitchers.shape)
print(hitters.shape)

(644, 38)
(5476, 38)

In [239]:
hitters.drop(['IP', 'W/L/S', 'QS'], axis=1, inplace=True)

/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [240]:
hitters.drop(['prior_ADI', 'GS', 'GP'], axis=1, inplace=True)

/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [241]:
hitters.isnull().sum()

GID                    0
MLB_ID                 0
Name_Last_First        0
Name_First_Last        0
P/H                    0
Hand                   0
Date                   0
Team                   0
Oppt                   0
H/A                    0
Game#                  0
Game_ID                0
Gametime_ET            0
Team_score             0
Oppt_score             0
Home_Ump               0
Temp                   0
Condition              0
W_speed                0
W_dir                  0
ADI                   52
Pos                    0
Order                  0
Oppt_pitch_hand        0
Oppt_pich_GID          0
Oppt_pitch_MLB_ID      0
Oppt_pitch_Name        0
PA                     0
wOBA_num               0
FD_points              0
FD_salary            154
FD_pos               154
dtype: int64

In [242]:
hitters.dropna(inplace=True)

/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [243]:
hitters.head()

,GID,MLB_ID,Name_Last_First,Name_First_Last,P/H,Hand,Date,Team,Oppt,H/A,...,Order,Oppt_pitch_hand,Oppt_pich_GID,Oppt_pitch_MLB_ID,Oppt_pitch_Name,PA,wOBA_num,FD_points,FD_salary,FD_pos
3,5006,134181,"Beltre, Adrian",Adrian Beltre,H,R,2018-03-29,tex,hou,h,...,4.0,R,1524,434378,"Verlander, Justin",4.0,1.80,6.0,3000.0,5.0
4,5006,134181,"Beltre, Adrian",Adrian Beltre,H,R,2018-03-30,tex,hou,h,...,4.0,L,112n,572971,"Keuchel, Dallas",4.0,1.25,9.2,3000.0,5.0
5,5006,134181,"Beltre, Adrian",Adrian Beltre,H,R,2018-03-31,tex,hou,h,...,3.0,R,128q,621121,"McCullers, Lance",3.0,1.25,9.5,3100.0,5.0
6,5006,134181,"Beltre, Adrian",Adrian Beltre,H,R,2018-04-01,tex,hou,h,...,3.0,R,110g,543037,"Cole, Gerrit",4.0,0.70,3.0,3100.0,5.0
7,5006,134181,"Beltre, Adrian",Adrian Beltre,H,R,2018-04-02,tex,oak,a,...,4.0,R,136c,592811,"Triggs, Andrew",4.0,0.00,0.0,3200.0,5.0

In [244]:
hitters.set_index(['MLB_ID', 'Date'], drop=False, inplace=True)

In [245]:
hitters.columns

Index(['GID', 'MLB_ID', 'Name_Last_First', 'Name_First_Last', 'P/H', 'Hand',
       'Date', 'Team', 'Oppt', 'H/A', 'Game#', 'Game_ID', 'Gametime_ET',
       'Team_score', 'Oppt_score', 'Home_Ump', 'Temp', 'Condition', 'W_speed',
       'W_dir', 'ADI', 'Pos', 'Order', 'Oppt_pitch_hand', 'Oppt_pich_GID',
       'Oppt_pitch_MLB_ID', 'Oppt_pitch_Name', 'PA', 'wOBA_num', 'FD_points',
       'FD_salary', 'FD_pos'],
      dtype='object')

In [259]:
hitters.head()

                    GID  MLB_ID Name_Last_First Name_First_Last P/H Hand  \
MLB_ID Date
134181 2018-03-29  5006  134181  Beltre, Adrian   Adrian Beltre   H    R
       2018-03-30  5006  134181  Beltre, Adrian   Adrian Beltre   H    R
       2018-03-31  5006  134181  Beltre, Adrian   Adrian Beltre   H    R
       2018-04-01  5006  134181  Beltre, Adrian   Adrian Beltre   H    R
       2018-04-02  5006  134181  Beltre, Adrian   Adrian Beltre   H    R

                        Date Team Oppt H/A  ...    Order Oppt_pitch_hand  \
MLB_ID Date                                 ...
134181 2018-03-29 2018-03-29  tex  hou   h  ...      4.0               R
       2018-03-30 2018-03-30  tex  hou   h  ...      4.0               L
       2018-03-31 2018-03-31  tex  hou   h  ...      3.0               R
       2018-04-01 2018-04-01  tex  hou   h  ...      3.0               R
       2018-04-02 2018-04-02  tex  oak   a  ...      4.0               R

                   Oppt_pich_GID  Oppt_pitch_MLB_ID    Oppt_pitch_Name   PA  \
MLB_ID Date
134181 2018-03-29           1524             434378  Verlander, Justin  4.0
       2018-03-30           112n             572971    Keuchel, Dallas  4.0
       2018-03-31           128q             621121   McCullers, Lance  3.0
       2018-04-01           110g             543037       Cole, Gerrit  4.0
       2018-04-02           136c             592811     Triggs, Andrew  4.0

                   wOBA_num FD_points  FD_salary FD_pos
MLB_ID Date
134181 2018-03-29      1.80       6.0     3000.0    5.0
       2018-03-30      1.25       9.2     3000.0    5.0
       2018-03-31      1.25       9.5     3100.0    5.0
       2018-04-01      0.70       3.0     3100.0    5.0
       2018-04-02      0.00       0.0     3200.0    5.0

[5 rows x 32 columns]

# How do I manage L vs. R handed pitchers...

In [246]:
hitter_ids = hitters['MLB_ID'].unique()
window_stats = ['PA', 'Team_score', 'FD_points']

In [ ]:
for hitter in hitter_ids:
    temp = hitters.loc[hitter]
    L_df = temp[temp['Oppt_pitch_hand']=='L']
    R_df = temp[temp['Oppt_pitch_hand']=='R']
    
    ewm_05 = L_df[window_stats].ewm(span=5).mean().shift()
    ewm_25 = L_df[window_stats].ewm(span=25).mean().shift()
    ewm_50 = L_df[window_stats].ewm(span=50).mean().shift()
    rm_80 = L_df[window_stats].rolling(window=80).mean().shift()

    this_df = pd.concat([ewm_05, ewm_25, ewm_50, rm_80], axis=1)
    
    #this_df['school_id'] = team
    #this_df['date_game'] = one_team_df['date_game']
    #this_df['opp_id'] = one_team_df['opp_id']

    #this_df.to_csv('../data/myteam_ewm/'+team.replace(' ', '_')+'.csv')